<html>
  <head>
    <LINK rel=stylesheet type="text/css" href="main.css">
  </head>

  <body>

    <header id='nav'>
    </header>

    <div id='shares'>
      <div><h2>Shares</h2></div>
      <div id="profiles">

        <%= render "/Users/kt/turing/2mod/4week/2win_playlist/card.html.erb" %>


      </div>


    </div>



    <!-- https://cdn.mamamia.com.au/wp/wp-content/uploads/2015/01/fbookprofile_featured.png -->

  </body>

</html>
